li {
  list-style-type: none;
}

.visited-countries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 25vw;
}

img {
  width: 100%;
}

.mini-card {
  background-color: #1f1f2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.visited-country {
  color: white;
  font-size: 17px;
}

.remove-button {
  background-color: transparent;
  border: 1px #cbd5e1 solid;
  color: white;
  font-size: 15px;
  padding: 3px;
}
